<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <conversionRule conversionWord="oneLineEx" converterClass="com.kineo.util.logback.OneLineExceptionConverter" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-4p [%t] [%X{group}] (%F:%L\) : %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/kineo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>kineo.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-4p [%t] [%X{group}] (%F:%L\) : %msg%oneLineEx</pattern>
        </encoder>
    </appender>

    <!--<logger name="org.hibernate" level="debug"/>
    <logger name="org.springframework" level="warn"/> -->
    <logger name="com.kineo" level="debug"/>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>