<div class="container" style="margin-top: 70px">
    <div class="row">
        <div class="col-md-12">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label for="category" class="col-md-2 control-label">Categor&iacute;a</label>
                    <div class="col-md-4">
                        <select class="form-control" id="category" ng-model="professional.category">
                            <option ng-repeat="category in categories" value="{{category.name}}">{{category.description}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.last_name.$invalid && !form.last_name.$pristine}">
                    <label for="last_name" class="control-label col-md-2">Apellido *</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="last_name" name="last_name" ng-model="professional.last_name"
                               required ng-maxlength="100">
                        <p ng-show="form.last_name.$error.maxlength" class="help-block">El Apellido es demasiado largo.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.first_name.$invalid && !form.first_name.$pristine}">
                    <label for="first_name" class="control-label col-md-2">Nombre *</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="first_name" name="first_name" ng-model="professional.first_name"
                               required ng-maxlength="100">
                        <p ng-show="form.last_name.$error.maxlength" class="help-block">El Nombre es demasiado largo.</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.date_of_birth.$invalid && !form.date_of_birth.$pristine}">
                    <label for="date_of_birth" class="control-label col-md-2">Fecha de nacimiento *</label>
                    <div class="col-md-4">
                        <multi-select-date id="date_of_birth" name="date_of_birth" ng-model="professional.date_of_birth" year-order="desc"
                                           required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.email.$invalid && !form.email.$pristine}">
                    <label for="email" class="control-label col-md-2">Email *</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="email" name="email" ng-model="professional.email"
                               required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.phone.$invalid && !form.phone.$pristine}">
                    <label for="phone" class="control-label col-md-2">T&eacute;lefono *</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="phone" name="phone" ng-model="professional.phone" required>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.document_type.$invalid && !form.document_type.$pristine}">
                    <label for="document_type" class="control-label col-md-2">Tipo de documento *</label>
                    <div class="col-md-2">
                        <select class="form-control" id="document_type" name="document_type" ng-model="professional.document_type" required>
                            <option ng-repeat="documentType in documentTypes" value="{{documentType.name}}">
                                {{documentType.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.document_number.$invalid && !form.document_number.$pristine}">
                    <label for="document_number" class="control-label col-md-2">N&uacute;mero de documento *</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="document_number" name="document_number" ng-model="professional.document_number"
                                required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <a href="#/professionals" class="btn btn-default">Cancelar</a>

                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="saveProfessional()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
