<section id="professionals" class="sections sections-narrow">
    <div class="container" style="margin-top: 70px">
        <div class="row">
            <div class="col-md-12 ng-scope">
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/professional-new" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls form-inline">
                            <input type="text" class="form-control" id="last-name-search" placeholder="Apellido" ng-model="search.last_name" >
                            <input type="text" class="form-control" id="first-name-search" placeholder="Nombre" ng-model="search.first_name">
                            <button ng-click="clearSearch()" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Tel&eacute;fono</th>
                        <th style="text-align: center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="professional in professionals | filter:search">
                        <td width="30%">{{professional.last_name}}</td>
                        <td width="30%">{{professional.first_name}}</td>
                        <td width="20%">{{professional.phone}}</td>
                        <td width="20%" style="text-align: center">
                            <div class="action-item center-block">
                                <a href="#/professionals/{{professional.id}}"><span class="glyphicon glyphicon-pencil text-success action"/></a>
                                <a href="#/professional-edit/{{professional.id}}"><span class="glyphicon glyphicon-edit action"/></a>
                                <span class="glyphicon glyphicon-trash text-danger action" ng-click="showDeleteProfessionalModal(professional)"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<ng-include src="'components/_partials/_modal_delete_professional.html'"></ng-include>