<section id="professionals" class="sections sections-narrow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ng-scope">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-primary pull-right" data-toggle="modal" ng-click="showCreateProfessionalModal()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
                        </button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls form-inline">
                            <input type="text" class="form-control" id="last-name-search" placeholder="Apellido" ng-model="search.last_name" >
                            <input type="text" class="form-control" id="first-name-search" placeholder="Nombre" ng-model="search.first_name">
                            <button data-toggle="modal" ng-click="clearSearch()" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Tel&eacute;fono</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="professional in professionals | filter:search">
                        <td width="30%">{{professional.last_name}}</td>
                        <td width="30%">{{professional.first_name}}</td>
                        <td width="20%">{{professional.phone}}</td>
                        <td>
                            <div class="action-item center-block">
                                <a href="#/professionals/{{professional.id}}">
                                    <span class="glyphicon glyphicon-eye-open text-success action"></span>
                                </a>
                                <span class="glyphicon glyphicon-edit action" ng-click="showEditProfessional(professional)"></span>
                                <span class="glyphicon glyphicon-remove text-danger action" ng-click="showDeleteProfessionalModal(professional)"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<ng-include src="'components/_partials/_modal_add_professional.html'"></ng-include>

<ng-include src="'components/_partials/_modal_edit_professional.html'"></ng-include>

<ng-include src="'components/_partials/_modal_delete_professional.html'"></ng-include>