<!-- Doctors -->
<section id="doctorsInfo" class="sections sections-no-padding sections-darker">
    <div class="container">
        <div class="row">
            <div class="section-inner-padding">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#editDoctorModal">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Doctor
                </button>
                <h2 class="h3 sub-header">Doctor Information</h2>

                <form class="form-inline form-inline-display">
                    <div class="form-group">
                        <p>First Name</p>
                        <p class="h5" data-ng-bind="currentDoctor.first_name">Maria</p>
                    </div>
                    <div class="form-group">
                        <p>Last Name</p>
                        <p class="h5" data-ng-bind="currentDoctor.last_name">Rodriguez</p>
                    </div>
                    <div class="form-group">
                        <p>Email</p>
                        <p class="h5" data-ng-bind="currentDoctor.email">pepe@pepe.com</p>
                    </div>
                    <div class="form-group">
                        <p>Contact Number</p>
                        <p class="h5" data-ng-bind="currentDoctor.phone">6085557683</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Nav bar -->
<section id="doctors" class="sections sections-bottom-nav sections-darker">
    <div class="container">
        <ul class="pager pager-link pull-left">
            <li>
                <a data-ui-sref="doctors">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to Doctor List
                </a>
            </li>
        </ul>
        <ul class="pager pager-link pull-right">
            <li ng-if="prevDoctor != null">
                <a data-ui-sref="doctorDetails({id:prevDoctor.id})">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    {{prevDoctor.first_name + ' ' + prevDoctor.last_name}}
                </a>
            </li>
            <li ng-if="nextDoctor != null">
                <a data-ui-sref="doctorDetails({id:nextDoctor.id})">
                    {{nextDoctor.first_name + ' ' + nextDoctor.last_name}}
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- Edit Doctor modal -->
<data-ng-include src="'components/_partials/_modal_add_doctor.html'"></data-ng-include>