<section id="doctors" class="sections sections-narrow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ng-scope">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-primary pull-right" data-toggle="modal" data-ng-click="showCreateDoctorModal()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
                        </button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls form-inline">
                            <input type="text" class="form-control" id="last-name-search" placeholder="Apellido" ng-model="search.last_name" >
                            <input type="text" class="form-control" id="first-name-search" placeholder="Nombre" ng-model="search.first_name">
                            <button data-toggle="modal" data-ng-click="clearSearch()" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Tel&eacute;fono</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="doctor in doctors | filter:search">
                        <td width="30%">{{doctor.last_name}}</td>
                        <td width="30%">{{doctor.first_name}}</td>
                        <td width="20%">{{doctor.phone}}</td>
                        <td>
                            <div class="action-item center-block">
                                <span class="glyphicon glyphicon-eye-open text-success action" data-ui-sref="doctorDetails({id: doctor.id})"></span>
                                <span class="glyphicon glyphicon-edit action" data-ng-click="showEditDoctor(doctor)"></span>
                                <span class="glyphicon glyphicon-remove text-danger action" data-ng-click="showDeleteDoctorModal(doctor)"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<data-ng-include src="'components/_partials/_modal_add_doctor.html'"></data-ng-include>

<data-ng-include src="'components/_partials/_modal_edit_doctor.html'"></data-ng-include>

<data-ng-include src="'components/_partials/_modal_delete_doctor.html'"></data-ng-include>