<section id="patients" class="sections sections-narrow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ng-scope">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-primary pull-right" data-toggle="modal" ng-click="showCreatePatientModal()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
                        </button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls form-inline">
                            <input type="text" class="form-control" id="last-name-search" placeholder="Apellido" ng-model="search.last_name" >
                            <input type="text" class="form-control" id="first-name-search" placeholder="Nombre" ng-model="search.first_name">
                            <button data-toggle="modal" ng-click="clearSearch()" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>T&eacute;lefono</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="patient in patients | filter:search">
                        <td width="20%">{{patient.last_name}}</td>
                        <td width="20%">{{patient.first_name}}</td>
                        <td width="20%">{{patient.email}}</td>
                        <td width="20%">{{patient.phone}}</td>
                        <td>
                            <a href="#/patients/{{patient.id}}">
                                <span class="glyphicon glyphicon-eye-open text-success action"></span>
                            </a>
                            <span class="glyphicon glyphicon-edit action" ng-click="showEditPatientModal(patient)"></span>
                            <span class="glyphicon glyphicon-remove text-danger action" ng-click="showDeletePatientModal(patient)"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<ng-include src="'components/_partials/_modal_add_patient.html'"></ng-include>

<ng-include src="'components/_partials/_modal_edit_patient.html'"></ng-include>

<ng-include src="'components/_partials/_modal_delete_patient.html'"></ng-include>