<section id="medical-companies" class="sections sections-narrow">
    <div class="container" style="margin-top: 70px">
        <h2>Compan&iacute;as</h2>
        <div class="row">
            <div class="col-md-12 ng-scope">
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/medical-insurances/company-new" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls form-inline">
                            <input type="text" class="form-control" id="company-name-search" placeholder="Nombre" ng-model="search.name">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th style="text-align: center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="company in companies | filter:search">
                        <td width="70%">{{company.name}}</td>
                        <td width="30%" style="text-align: center">
                            <div class="action-item center-block">
                                <a href="#/medical-insurances/companies/{{company.id}}"><span class="glyphicon glyphicon-zoom-in text-success action"/></a>
                                <a href="#/medical-insurances/company-edit/{{company.id}}"><span class="glyphicon glyphicon-edit action"/></a>
                                <span class="glyphicon glyphicon-trash text-danger action" ng-click="showDeleteMedicalCompanyModal(company)"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<ng-include src="'components/_partials/_modal_delete_medical_company.html'"></ng-include>
