<section id="medical-companies" class="sections sections-narrow">
    <div class="container">
        <h2>Compan&iacute;as</h2>
        <br>
        <div class="row">
            <div class="col-md-12 ng-scope">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-primary pull-right" data-toggle="modal" ng-click="showCreateMedicalCompanyModal()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
                        </button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls form-inline">
                            <input type="text" class="form-control" id="company-name-search" placeholder="Nombre" ng-model="search.name">
                        </div>
                    </div>
                </div>
            </div>
            </br>
            </br>
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="company in companies | filter:search">
                        <td width="70%">{{company.name}}</td>
                        <td>
                            <div class="action-item center-block">
                                <a href="#/medical-insurances/companies/{{company.id}}">
                                    <span class="glyphicon glyphicon-eye-open text-success action"></span>
                                </a>
                                <span class="glyphicon glyphicon-edit action" ng-click="showEditMedicalCompanyModal(company)"></span>
                                <span class="glyphicon glyphicon-remove text-danger action" ng-click="showDeleteMedicalCompanyModal(company)"></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<ng-include src="'components/_partials/_modal_add_medical_company.html'"></ng-include>

<ng-include src="'components/_partials/_modal_edit_medical_company.html'"></ng-include>

<ng-include src="'components/_partials/_modal_delete_medical_company.html'"></ng-include>
