<h3>Medical insurances companies</h3>
<div class="row">
    <div class="col-md-9 ng-scope">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addMedicalCompanyModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New company
                </button>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <div class="controls form-inline">
                    <input type="text" class="form-control" id="company-name-search" placeholder="Company" ng-model="search.name">
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="col-md-9 ng-scope">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="company in companies | filter:search">
                <td width="70%">{{company.name}}</td>
                <td>
                    <div class="action-item center-block">
                        <a data-ui-sref="medicalCompanyDetails({id: company.id})">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <a data-ng-click="deleteMedicalCompany(company.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<data-ng-include src="'components/_partials/_modal_add_medical_company.html'"></data-ng-include>
