<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <h2 class="h2 sub-header">{{company.name}}</h2>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <a href="#/medical-insurances/companies" class="btn btn-default">Volver</a>
                        <a href="#/medical-insurances/company-edit/{{company.id}}" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>