<h3>Medical insurances plans</h3>
<div class="row">
    <div class="col-md-9 ng-scope">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addDoctorModal">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>New plan
                </button>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="control-group">
                <div class="controls form-inline">
                    <input type="text" class="form-control" id="plan-name-search" placeholder="Plan" ng-model="search.plan">
                    <input type="text" class="form-control" id="company-name-search" placeholder="Company" ng-model="search.company.name">
                </div>
            </div>
        </div>
    </div>
    </br>
    </br>
    <div class="col-md-9 ng-scope">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Plan</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="plan in plans | filter:search">
                <td width="40%">{{plan.plan}}</td>
                <td width="30%">{{plan.company.name}}</td>
                <td>
                    <div class="action-item center-block">
                        <a data-ui-sref="medicalInsurancePlanDetails({id: plan.id})">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <a data-ng-click="deleteMedicalInsurancePlan(plan.id)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
