<section id="medical-insurances-plans" class="sections sections-narrow">
    <div class="container" style="margin-top: 70px">
        <h2>Planes</h2>
        <div class="row">
            <div class="col-md-12 ng-scope">
                <div class="pull-right">
                    <div class="btn-group">
                        <a href="#/medical-insurances/plan-new" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="control-group">
                        <div class="controls form-inline">
                            <input type="text" class="form-control" id="company-name-search" placeholder="Compan&iacute;a" ng-model="search.company.name">
                            <input type="text" class="form-control" id="plan-name-search" placeholder="Plan" ng-model="search.plan">
                            <button ng-click="clearSearch()" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Compan&iacute;a</th>
                        <th>Plan</th>
                        <th style="text-align: center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="plan in plans | filter:search">
                        <td width="30%">{{plan.company.name}}</td>
                        <td width="40%">{{plan.plan}}</td>
                        <td width="30%" style="text-align: center">
                            <div class="action-item center-block">
                                <a href="#/medical-insurances/plans/{{plan.id}}"><span class="glyphicon glyphicon-zoom-in text-success action"/></a>
                                <a href="#/medical-insurances/plan-edit/{{plan.id}}"><span class="glyphicon glyphicon-edit action"/></a>
                                <span class="glyphicon glyphicon-trash text-danger action" ng-click="showDeleteMedicalInsurancePlanModal(plan)"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<ng-include src="'components/_partials/_modal_delete_medical_insurance_plan.html'"></ng-include>