<section id="medical-insurances" class="sections sections-narrow">
    <div class="container">
        <div class="row">
            <div id="nav-menu" class="navbar-collapse navbar-left collapse">
                <ul class="nav nav-pills nav-stacked">
                    <li data-ng-class="content=='companies' ? 'active' : ''">
                        <a href="#" ng-click="viewContent('companies');">Compan&iacute;as</a>
                    </li>
                    <li data-ng-class="content=='plans' ? 'active' : ''">
                        <a href="#" ng-click="viewContent('plans');">Planes</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="container" ng-if="content=='companies'">
                    <data-ng-include src="'components/medical_insurances/medical_companies.html'"></data-ng-include>
                </div>
                <div class="container" ng-if="content=='plans'">
                    <data-ng-include src="'components/medical_insurances/medical_insurances_plans.html'"></data-ng-include>
                </div>
            </div>
        </div>
    </div>
</section>