<section id="medical_insurance_plan_info" class="sections sections-no-padding sections-darker">
    <div class="container">
        <div class="row">
            <div class="section-inner-padding">
                <h2 class="h3 sub-header">{{plan.plan}}</h2>
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="company" class="col-md-4 control-label">Compan&iacute;a</label>
                            <div class="col-md-6">
                                <p id="company" class="form-control">{{plan.company.name}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="plans" class="sections sections-bottom-nav sections-darker">
    <div class="container">
        <ul class="pager pager-link pull-left">
            <li>
                <a data-ui-sref="medical-insurances">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Volver
                </a>
            </li>
        </ul>
    </div>
</section>