<!-- Footer -->
<footer class="footer">
    <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-md-3">
            </div>
        </div>
    </div>
</footer>

<div class="colophon">
    <div class="container">
        <p class="pull-left">
            <img src="images/logo-footer.png" class="logo-footer"> © 2016 Kineo, Appointment app.
        </p>

        <p class="pull-right">Designed by Mariano Lischetti. Developed by Mariano Lischetti.</p>
    </div>
</div>