<nav ng-controller="NavController" class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle navbar-toggle-left collapsed" type="button" data-toggle="collapse" data-target="#nav-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-triangle-bottom"></span>
            </button>
        </div>
        <div id="nav-menu" class="navbar-collapse navbar-left collapse">
            <ul class="nav navbar-nav navbar-menu">
                <li ng-class="{'active': route.current.$$route.state == 'appointments'}">
                    <a href="#/appointments">Turnos</a>
                </li>
                <li ng-class="{'active': route.current.$$route.state == 'patients'}">
                    <a href="#/patients">Pacientes</a>
                </li>
                <li ng-class="{'active': route.current.$$route.state == 'professionals'}">
                    <a href="#/professionals">Profesionales</a>
                </li>
                <li ng-class="{'active': route.current.$$route.state == 'medical-companies' || route.current.$$route.state == 'medical-plans'}">
                    <a class="dropdown-toggle" data-toggle="dropdown">Obras Sociales
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/medical-insurances/companies">Compan&iacute;as</a>
                        </li>
                        <li>
                            <a href="#/medical-insurances/plans">Planes</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>