<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group" ng-class="{'has-error': form.professional.$invalid && !form.professional.$pristine}">
                    <label for="professional" class="control-label col-md-2">Profesional *</label>
                    <div class="col-md-4">
                        <angucomplete-alt id="professional" name="professional" placeholder="Seleccione un profesional" pause="100"
                                          selected-object="selectedProfessional"
                                          search-fields="last_name,first_name"
                                          local-data="professionals"
                                          title-field="last_name,first_name"
                                          minlength="1"
                                          input-class="form-control"
                                          match-class="highlight"
                                          required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.patient.$invalid && !form.patient.$pristine}">
                    <label for="patient" class="control-label col-md-2">Paciente *</label>
                    <div class="col-md-4">
                        <angucomplete-alt id="patient" name="patient" placeholder="Seleccione un paciente" pause="100"
                                          selected-object="selectedPatient"
                                          search-fields="last_name,first_name"
                                          local-data="patients"
                                          title-field="last_name,first_name"
                                          minlength="1"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.summary.$invalid && !form.summary.$pristine}">
                    <label for="summary" class="control-label col-md-2">Asunto</label>
                    <div class="col-md-4">
                        <select class="form-control" id="summary" name="summary" ng-model="appointment.summary" required>
                            <option ng-repeat="summary in summaries" value="{{summary}}">{{summary}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': form.date_string.$invalid && !form.date_string.$pristine}">
                    <label for="datepicker" class="control-label col-md-2">Fecha *</label>
                    <div class="col-md-2">
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" name="date_string" ng-model="date_string" required/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.time_string.$invalid && !form.time_string.$pristine}">
                    <label for="clockpicker" class="control-label col-md-2">Hora *</label>
                    <div class="col-md-2">
                        <div class="input-group" id="clockpicker">
                            <input type="text" class="form-control" name="time_string" ng-model="time_string" required/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <a href="#/appointments" class="btn btn-default">Cancelar</a>

                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="saveAppointment()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
