<div class="container" style="margin-top: 70px">
    <div class="row">
        <div class="col-md-12">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group" ng-class="{'has-error': form.professional.$invalid && !form.professional.$pristine}">
                    <label for="professional" class="control-label col-md-2">Profesional *</label>
                    <div class="col-md-3">
                        <angucomplete-alt id="professional" name="professional" placeholder="Seleccione..." pause="100"
                                          selected-object="selectedProfessional"
                                          search-fields="last_name"
                                          local-data="professionals"
                                          title-field="last_name,first_name"
                                          minlength="1"
                                          input-class="form-control"
                                          match-class="highlight"
                                          required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.patient.$invalid && !form.patient.$pristine}">
                    <label for="patient" class="control-label col-md-2">Paciente *</label>
                    <div class="col-md-3">
                        <angucomplete-alt id="patient" name="patient" placeholder="Seleccione..." pause="100"
                                          selected-object="selectedPatient"
                                          search-fields="last_name"
                                          local-data="patients"
                                          title-field="last_name,first_name"
                                          minlength="1"
                                          input-class="form-control form-control-small"
                                          match-class="highlight"
                                          required/>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.summary.$invalid && !form.summary.$pristine}">
                    <label for="service" class="control-label col-md-2">Servicio</label>
                    <div class="col-md-2">
                        <select class="form-control" id="service" name="service" ng-model="appointment.service" required>
                            <option ng-repeat="service in services" value="{{service}}">{{service}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="appointmentMode" class="control-label col-md-2">Modo</label>
                    <div class="col-md-2">
                        <label class="radio-inline"><input type="radio" ng-model="appointmentMode" value="simple" name="appointmentMode">Simple</label>
                        <label class="radio-inline"><input type="radio" ng-model="appointmentMode" value="repeat" name="appointmentMode">Repetir</label>
                    </div>
                </div>
                <div ng-show="appointmentMode == 'simple'">
                    <div class="form-group" ng-class="{'has-error': form.date_string.$invalid && !form.date_string.$pristine}">
                        <label for="date" class="control-label col-md-2">Fecha *</label>
                        <div class="col-md-2">
                            <date-picker class="input-group date">
                                <input type="text" class="form-control" id="date" name="date" ng-model="appointment.date" required/>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </date-picker>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.time_string.$invalid && !form.time.$pristine}">
                        <label for="time" class="control-label col-md-2">Hora *</label>
                        <div class="col-md-2">
                            <div class="input-group" id="clockpicker">
                                <input type="text" class="form-control" id="time" name="time" ng-model="appointment.time" required/>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="appointmentMode == 'repeat'">

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <a href="#/appointments" class="btn btn-default">Cancelar</a>

                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="saveAppointment()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
