<section id="appointments" class="sections sections-narrow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="since" class="col-md-1 control-label">Desde</label>
                            <div class="col-md-2">
                                <date-picker class="input-group date" id="since">
                                    <input type="text" class="form-control" ng-model="searchRequest.since"/>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </date-picker>
                            </div>
                            <label for="until" class="col-md-1 control-label">Hasta</label>
                            <div class="col-md-2">
                                <date-picker class="input-group date" id="until">
                                    <input type="text" class="form-control" ng-model="searchRequest.until"/>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </date-picker>
                            </div>
                            <div class="col-md-2">
                                <angucomplete-alt id="professional" name="professional" placeholder="Seleccione un profesional" pause="100"
                                                  selected-object="selectedProfessional"
                                                  search-fields="last_name,first_name"
                                                  local-data="professionals"
                                                  title-field="last_name,first_name"
                                                  minlength="1"
                                                  input-class="form-control"
                                                  match-class="highlight"
                                                  required/>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="patient" ng-model="searchRequest.patient" placeholder="Paciente ...">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default" ng-click="search()">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <a href="#/appointment-new" class="btn btn-primary pull-right">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Turno
                                </a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ng-scope">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Profesional</th>
                        <th>Paciente</th>
                        <th>Servicio</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="appointment in appointments">
                        <td width="20%">{{appointment.professional.last_name + ', ' + appointment.professional.first_name}}</td>
                        <td width="20%">{{appointment.patient.last_name + ', ' + appointment.patient.first_name}}</td>
                        <td width="20%">{{appointment.service}}</td>
                        <td width="20%">{{appointment.start_time | date:'dd/MM/yy HH:mm'}}</td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>