<!-- Add Company Modal -->
<div class="modal modal-company fade" id="addMedicalCompanyModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Crear una compan&iacute;a</h3>
            </div>
            <div class="modal-body row">
            <div class="container col-md-12">
                <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label">Nombre</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="name" ng-model="company.name">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group form-group-action">
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-dismiss="modal" aria-label="Close"
                            data-ng-click="addMedicalCompany()">Crear
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Company Success Modal -->
<div class="modal modal-company fade" id="addMedicalCompanySuccessModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" data-ui-sref="medical-insurances" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
                <h3 class="sub-header">Compan&iacute;a exitosamente creada!</h3>
            </div>
            <div class="modal-body row">
                <div class="container col-md-12">
                    <div class="alert alert-success" role="alert">
                        Felicitaciones! has creado una nueva compan&iacute;a.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group form-group-action">
                    <a data-dismiss="modal" data-ui-sref="medicalCompanyDetails({id:newCompanyId})" class="btn btn-link">
                        Ver detalle</a>
                </div>
            </div>
        </div>
    </div>
</div>