<div class="modal modal-professional fade" id="deleteProfessionalModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">{{professional.last_name + ' ' + professional.first_name}} </h3>
            </div>
            <div class="modal-body panel-body">
                ¿Esta seguro que desea eliminar el profesional?
            </div>
            <div class="modal-footer panel-footer">
                <button type="button" class="btn btn-default" data-toggle="modal" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-dismiss="modal"
                        ng-click="deleteProfessional(professional.id)">Eliminar</button>
            </div>
        </div>
    </div>
</div>