<!-- Add Patient Modal -->
<div data-ng-controller="AddPatientController">
    <div class="modal modal-patient fade" id="addPatientModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="sub-header">Crear un paciente</h1>
                                <em class="text-muted">Llena la informaci&oacute;n b&aacute;sica del paciente y los datos de contacto</em>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="last_name" class="col-md-4 control-label">Apellido</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="last_name" ng-model="patient.last_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="first_name" class="col-md-4 control-label">Nombre</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="first_name" ng-model="patient.first_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="date_of_birth" class="col-md-4 control-label">Fecha de nacimiento</label>
                                        <div class="col-md-6">
                                            <multi-select-date id="date_of_birth" name="date_of_birth"
                                                               ng-model="patient.date_of_birth"
                                                               year-order="desc"
                                                               required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-4 control-label">Email</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="email" ng-model="patient.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-md-4 control-label">T&eacute;lefono</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="phone" ng-model="patient.phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="document_type" class="col-md-4 control-label">Tipo de documento</label>
                                        <div class="col-md-6">
                                            <select class="form-control" id="document_type" ng-model="patient.document_type">
                                                <option ng-repeat="documentType in documentTypes" value="{{documentType.name}}">{{documentType.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="document_number" class="col-md-4 control-label">N&uacute;mero de documento</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="document_number" ng-model="patient.document_number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="medical_insurance_plan_id" class="col-md-4 control-label">Obra social</label>
                                        <div class="col-md-6">
                                            <select class="form-control" id="medical_insurance_plan_id" ng-model="patient.medical_insurance_plan_id">
                                                <option ng-repeat="plan in plans" value="{{plan.id}}">{{plan.company.name + ' ' + plan.plan}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="affiliate_id" class="col-md-4 control-label">Nro de afiliado</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="affiliate_id" ng-model="patient.affiliate_id">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group form-group-action">
                                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" aria-label="Close"
                                            data-ng-click="addPatient()">Crear
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Patient Success Modal -->
    <div class="modal modal-patient fade" id="addPatientSuccessModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" data-ui-sref="patients" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="sub-header">Paciente exitosamente creado!</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="alert alert-success" role="alert">
                                    Felicitaciones! has creado un nuevo paciente.
                                </div>
                                <div class="form-group form-group-action">
                                    <a data-dismiss="modal" data-ui-sref="patientDetails({id:newPatientId})" class="btn btn-primary">
                                        Ver detalle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>