<!-- This partial include Add/Edit Doctors and Success Modals -->

<!-- Add Doctor Modal -->
<div class="modal modal-doctor fade" id="addDoctorModal" tabindex="-1" data-ng-controller="AddDoctorController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="sub-header">Add A Doctor</h1>
                            <em class="text-muted">Fill up doctor basic information and contact details</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <!-- Specify the function to be called on submit and disable HTML5 validation, since we're using Angular validation-->
                        <form name="doctorForm" class="col-md-4 col-md-offset-2" novalidate>
                            <!-- Display an error if the input is invalid and is dirty (only when someone changes the value) -->
                            <div class="form-group" ng-class="{'has-error' : doctorForm.first_name.$invalid && doctorForm.first_name.$dirty}">
                                <label for="first_name">Fist Name</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : doctorForm.first_name.$valid && doctorForm.first_name.$dirty}"></span>
                                <input id="first_name" name="first_name" type="text" class="form-control" maxlength="50"
                                       ng-model="doctor.first_name" required ng-minlength="2" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="doctorForm.first_name.$error.required">Add name.</p>
                                <p class="help-block" ng-show="doctorForm.first_name.$error.minlength">Name must be at least 2 characters long.</p>
                                <p class="help-block" ng-show="doctorForm.first_name.$error.maxlength">Name cannot be longer than 50 characters.</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : doctorForm.last_name.$invalid && doctorForm.last_name.$dirty}">
                                <label for="last_name">Last Name</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : doctorForm.last_name.$valid && doctorForm.last_name.$dirty}"></span>
                                <input id="last_name" name="last_name" type="text" class="form-control" maxlength="50"
                                       ng-model="doctor.last_name" required ng-minlength="2" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="doctorForm.last_name.$error.required">Add last name.</p>
                                <p class="help-block" ng-show="doctorForm.last_name.$error.minlength">Last name must be at least 2 characters long.</p>
                                <p class="help-block" ng-show="doctorForm.last_name.$error.maxlength">Last name cannot be longer than 50 characters.</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : doctorForm.email.$invalid && doctorForm.email.$dirty}">
                                <label for="email">Email</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : doctorForm.email.$valid && doctorForm.email.$dirty}"></span>
                                <input id="email" name="email" type="text" class="form-control" maxlength="50"
                                       ng-model="doctor.email" required ng-minlength="2" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="doctorForm.email.$error.required">Add email.</p>
                                <p class="help-block" ng-show="doctorForm.email.$error.minlength">Email must be at least 2 characters long.</p>
                                <p class="help-block" ng-show="doctorForm.email.$error.maxlength">Email cannot be longer than 50 characters.</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : doctorForm.phone.$invalid && doctorForm.phone.$dirty}">
                                <label for="phone">Contact Number</label>
                                <!-- Display a check when the field is valid and was modified -->
                                <span ng-class="{'glyphicon glyphicon-ok' : doctorForm.phone.$valid && doctorForm.phone.$dirty}"></span>
                                <input id="phone" name="phone" type="text" class="form-control" maxlength="50"
                                       ng-model="doctor.phone" required ng-minlength="2" ng-maxlength="50"/>
                                <!-- Validation messages to be displayed on required, minlength and maxlength -->
                                <p class="help-block" ng-show="doctorForm.phone.$error.required">Add phone.</p>
                                <p class="help-block" ng-show="doctorForm.phone.$error.minlength">Phone must be at least 2 characters long.</p>
                                <p class="help-block" ng-show="doctorForm.phone.$error.maxlength">Phone cannot be longer than 50 characters.</p>
                            </div>
                        </form>

                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group form-group-action">
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addDoctorSuccessModal"
                                        data-dismiss="modal" aria-label="Close" data-ng-click="addDoctor()">Add Doctor
                                </button>
                                <button class="btn btn-link" class="close" data-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Doctor Success Modal -->
<div class="modal modal-doctor fade" id="addDoctorSuccessModal" tabindex="-1" data-ng-controller="AddDoctorController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" data-ui-sref="doctors" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="sub-header">Doctor added successfully! {{message}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="alert alert-success" role="alert">
                                Well done! You've successfully created an a new doctor.
                                Counter: {{addCounter}}
                            </div>
                            <div class="form-group form-group-action">
                                <button class="btn btn-link" data-ng-click="incrementCounter()" aria-label="Close">
                                    <span aria-hidden="true">Counter</span>
                                </button>
                                <a data-dismiss="modal" data-ui-sref="doctorDetails({id:newDoctorId})" class="btn btn-primary">
                                    {{newDoctorId}} __ View doctor's details</a>
                                <!--
                                <button class="btn btn-link" data-dismiss="modal" aria-label="Close">Close</button>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Doctor Modal -->
<div class="modal modal-doctor fade" id="editDoctorModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="sub-header">Edit doctor</h1>
                            <em class="text-muted">Fill up doctors basic information and contact details</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label for="first_name">First Name</label>
                                <input type="text" class="form-control" id="first_name" ng-model="currentDoctor.first_name">
                            </div>
                            <div class="form-group">
                                <label for="last_name">Last Name</label>
                                <input type="text" class="form-control" id="last_name" ng-model="currentDoctor.last_name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email" ng-model="currentDoctor.email">
                            </div>
                            <div class="form-group">
                                <label for="phone">Contact Number</label>
                                <input type="text" class="form-control" id="phone" ng-model="currentDoctor.phone">
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group form-group-action">
                                <button type="submit" class="btn btn-primary" data-toggle="modal"
                                        data-target="#editDoctorSuccessModal"
                                        data-dismiss="modal" aria-label="Close" ng-click="saveDoctor()">Update Doctor
                                </button>
                                <!--
                                <button class="btn btn-link" class="close" data-dismiss="modal" aria-label="Close">
                                    Cancel
                                </button>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Doctor Success Modal -->
<div class="modal modal-doctor fade" id="editDoctorSuccessModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" data-ui-sref="doctors" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="sub-header">Doctor updated successfully!</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="alert alert-success" role="alert">
                                Well done! You've successfully updated a doctor.
                            </div>
                            <!--
                            <div class="form-group form-group-action">
                                <a class="btn btn-link" data-dismiss="modal" data-ui-sref="doctors" aria-label="Close">Close</a>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>