<!-- Add Doctor Modal -->
<div class="modal modal-doctor fade" id="addDoctorModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title">Crear un m&eacute;dico</h3>
            </div>
            <div class="modal-body row">
                <div class="container col-md-12">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="last_name" class="col-md-4 control-label">Apellido</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="last_name" ng-model="doctor.last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="first_name" class="col-md-4 control-label">Nombre</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="first_name" ng-model="doctor.first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date_of_birth" class="col-md-4 control-label">Fecha de nacimiento</label>
                                <div class="col-md-6">
                                    <multi-select-date id="date_of_birth" name="date_of_birth" ng-model="doctor.date_of_birth"
                                                       year-order="desc" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-md-4 control-label">Email</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="email" ng-model="doctor.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-md-4 control-label">T&eacute;lefono</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="phone" ng-model="doctor.phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="document_type" class="col-md-4 control-label">Tipo de documento</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="document_type" ng-model="doctor.document_type">
                                        <option ng-repeat="documentType in documentTypes" value="{{documentType.name}}">{{documentType.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="document_number" class="col-md-4 control-label">N&uacute;mero de documento</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="document_number" ng-model="doctor.document_number">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group form-group-action">
                    <button type="submit" class="btn btn-success" data-toggle="modal" data-dismiss="modal" aria-label="Close"
                            ng-click="addDoctor()">Crear
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Doctor Success Modal -->
<div class="modal modal-doctor fade" id="addDoctorSuccessModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" ng-click="closeAddDoctorSuccessModal()" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="sub-header">M&eacute;dico exitosamente creado!</h3>
            </div>
            <div class="modal-body row">
                <div class="container col-md-12">
                    <div class="alert alert-success" role="alert">
                        Felicitaciones! has creado un nuevo m&eacute;dico.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group form-group-action">
                    <button data-dismiss="modal" ng-click="closeAddDoctorSuccessModal(doctorId)" class="btn btn-link">
                        Ver detalle</button>
                </div>
            </div>
        </div>
    </div>
</div>